.standard {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #7ba385;
    input:valid   { border-color: green; }
    input:invalid { border-color: red; }
    input:required { background: lightyellow; }
    input:focus   { outline: 2px solid blue; }

}